@model EditProfileViewModel

@{
    ViewData["Title"] = "Edit Profile";
}

<h2 class="text-center my-4">Edit Profile</h2>

<form asp-action="EditProfile" method="post" class="d-flex flex-column align-items-center">
    <div class="mb-3 form-group-custom">
        <label class="mb-1">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3 form-group-custom">
        <label class="mb-1">Full Name</label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary my-4">Save Changes</button>
</form>