@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h2 class="text-center my-4">Login</h2>

<form method="post" asp-action="Login" class="d-flex flex-column align-items-center">
    <div class="mb-3 form-group-custom">
        <label class="mb-1">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3 form-group-custom">
        <label class="mb-1">Password</label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary my-3">Login</button>
</form>

<div class="text-center mb-4">
    <a asp-action="Register" class="text-center">Don't have an account? Register here</a>
</div>

<!-- Display ModelOnly Errors -->
<div asp-validation-summary="ModelOnly" class="text-danger text-center error-summary mb-4"></div>