@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h2 class="text-center my-4">Login</h2>

<form method="post" asp-action="Login" class="d-flex flex-column align-items-center">
    <div class="mb-3 form-group-custom">
        <label class="mb-1">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3 form-group-custom">
        <label class="mb-1">Password</label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary my-3">Login</button>
</form>

<div class="text-center mb-4">
    <a asp-action="Register" class="text-center">Don't have an account? Register here</a>
</div>

<!-- Display Login Errors -->
@if (!ViewData.ModelState.IsValid)
{
    foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
    {
        if (error.ErrorMessage.Contains("Invalid"))
        {
            <p class="text-danger my-1 text-center">@error.ErrorMessage</p>
        }
    }
}