@model IEnumerable<Category>

@{
    ViewData["Title"] = "Admin";
}

<h2 class="my-4">Categories</h2>
<a class="btn btn-primary mb-2" href="/admin/categories/create">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.Description</td>
                <td>
                    <a class="btn btn-warning mb-2 mb-sm-0" href="/admin/categories/edit/@category.Id">Edit</a>
                    <a class="btn btn-danger" href="/admin/categories/delete/@category.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>