@model IEnumerable<Product>

@{
    ViewData["Title"] = "Admin";
}

<h2 class="my-4">Product List</h2>
<a class="btn btn-primary mb-2" href="/admin/products/create">Create New Product</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price.ToString("C")</td>
                <td>@product.Category?.Name</td>
                <td>
                    <a class="btn btn-warning mb-2 mb-sm-0" href="/admin/products/edit/@product.Id">Edit</a>
                    <a class="btn btn-danger" href="/admin/products/delete/@product.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>